{% extends 'base.html.twig' %}

{% block title %}Demande admin{% endblock %}

{% block body %}
  <div class="container mt-4">
    {% if id is defined %}
      <h1 class="text-center">{{ typeDemande }}</h1>
      <form method="POST" action="{{ path('app_demande_admin') }}">
        {% if id == '1' %}
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" required="required"></textarea>
          </div>
        {% elseif id == '2' %}
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>

          <div class="form-group">
            <label for="somme">Somme demandée</label>
            <input type="number" class="form-control" id="somme" name="somme">
          </div>
        {% elseif id == '3' %}
          <div class="form-group">
            <label for="joueur">Nom du joueur</label>
            <input type="text" class="form-control" id="joueur" name="joueur">
          </div>
          
          <div class="form-group">
            <label for="raison">Raison</label>
            <input type="text" class="form-control" id="raison" name="raison">
          </div>
        {% endif %}
        <input type="hidden" name="idDemande" value="{{ id }}">

        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}