{% extends 'base.html.twig' %}

{% block title %}
ItemBay - Information legale
{% endblock %}

{% block body %}
    <div class = "container mt-4">
        <div class="jumbotron">
            <h2 class="display-4">Règles et sanctions</h2>
            <p class="lead">Cette page affichera les différentes information et règles du sites</p>
            <hr class="my-4">
            <p>
                <li>Toute collecte de données personnelles doit être transparente et légale.</li>
                <li>Les utilisateurs doivent être informés de la collecte de leurs données personnelles et de leur utilisation.</li>
                <li>Les utilisateurs doivent avoir le droit d'accéder à leurs données personnelles et de les supprimer si nécessaire.</li>
                <li>Les utilisateurs doivent avoir le droit de limiter l'utilisation de leurs données personnelles et de les transférer à d'autres services si nécessaire.</li>
                <li>Les utilisateurs doivent être informés des tiers avec lesquels leurs données personnelles sont partagées.</li>
                <li>Les cookies et autres technologies de suivi doivent être utilisés de manière transparente et légale.</li>
                <li>Les utilisateurs doivent être en mesure de refuser les cookies et autres technologies de suivi.</li>
                <li>Les utilisateurs doivent être informés des conséquences de leur refus des cookies et autres technologies de suivi.</li>
                <li>Les utilisateurs doivent être en mesure de donner leur consentement explicite à la collecte et à l'utilisation de leurs données personnelles.</li>
                <li>Les utilisateurs doivent être en mesure de retirer leur consentement à tout moment.</li>
                <li>Les données personnelles doivent être stockées de manière sécurisée et protégées contre les accès non autorisés.</li>
                <li>Les utilisateurs doivent être informés des politiques de confidentialité et de sécurité du site internet.</li>
            </p>
        </div>
    </div>
{% endblock %}