{% extends 'base.html.twig' %}

{% block title %}
ItemBay - Information legale
{% endblock %}

{% block body %}
    <div class = "container mt-4">
        <div class="jumbotron">
            <h2 class="display-4">Règles et sanctions</h2>
            <p class="lead">Cette page affichera les différentes information et règles du sites</p>
            <hr class="my-4">
            <p>Pour commencer, vous pouvez vous inscrire ou vous connecter avec le bouton ci-dessous.</p>
            <!-- Peut être voir pour faire un lien directe vers un fichier txt ?   -->
        </div>
    </div>
{% endblock %}