{% extends 'base.html.twig' %}

{% block title %}
ItemBay - Tableau des demande Admin
{% endblock %}

{% block body %}
    <div class = "container mt-4">
        <div class="jumbotron">
            <h2 class="display-4">Règles et sanctions</h2>
            <p class="lead">Cette page affichera les différentes information et règles du sites</p>
            <hr class="my-4">
            <table>
                <thead>
                    <tr>
                    <th>Demande</th>
                    <th>Description</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Indiquer un bug/erreur</td>
                    <td>Signaler un problème technique ou une erreur sur le site web</td>
                    <td><a href="mailto:admin@monsite.com?subject=Bug/Erreur">Envoyer un email</a></td>
                    </tr>
                    <tr>
                    <td>Demander de l'argent</td>
                    <td>Faire une demande de remboursement ou de compensation</td>
                    <td><a href="mailto:admin@monsite.com?subject=Demande d'argent">Envoyer un email</a></td>
                    </tr>
                    <tr>
                    <td>Signaler un joueur ou item</td>
                    <td>Signaler un comportement inapproprié d'un joueur ou d'un item sur le site web</td>
                    <td><a href="mailto:admin@monsite.com?subject=Signalement joueur/item">Envoyer un email</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}