{% extends 'base.html.twig' %}

{% block title %}
ItemBay - Profil
{% endblock %}

{% block body %}
<div class = "container mt-4">
        <div class="jumbotron">
            <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="128  " height="128"> <!-- Place holder à remplacer par l'image du profil -->
        </div>

        <section>
            <h3>Informations personnelles</h3>
            <ul>
                {% if app.user %}
                    <li>Nom : {{ user.nom }}</li>
                    <li>Prénom : {{ user.prenom }}</li>
                    <li>Email : {{ user.email }}</li>
                    <li>Argent :  {{ user.monnaie }}</li>
                {% endif %}
            </ul>
        </section>

</div>
{% endblock %}
