{% extends 'base.html.twig' %}

{% block title %}
ItemBay - Profil
{% endblock %}

{% block body %}
<div class = "container mt-4">
        <div class="jumbotron">
            <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="128  " height="128"> <!-- Place holder à remplacer par l'image du profil -->
        </div>

        <section>
            <h3>Informations personnelles</h3>
            <ul>
                <li>Pseudo : Place Holder </li> <!-- Remplacer le place holder  -->
                <li>Courriel : Place Holder</li> <!-- Remplacer le place holder  -->
                <li>Mot de passe : Place Holder </li> <!-- Remplacer le place holder  -->
                <li>Argent :  Place Holder </li> <!-- Remplacer le place holder  -->
            </ul>
        </section>

</div>
{% endblock %}
