{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}
<div class = "container mt-4">
        <div class="jumbotron">
             <!-- Place holder à remplacer par l'image de l'item -->
        </div>

        <form action="" method="POST">
            <div class="form-group">
                <label for="nom">Nom de l'item</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom de l'item">
            </div>
            <div class="form-group">
                <label for="description">Description de l'item</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Description de l'item">
            </div>
            <div class="form-group">
                <label for="qte">Quantité de l'item</label>
                <input type="number" class="form-control" id="qte" name="qte" placeholder="Quantité de l'item">
            </div>
            <div class="form-group">
                <label for="prix">Prix de l'item</label>
                <input type="number" class="form-control" id="prix" name="prix" placeholder="Prix de l'item">
            </div>
            <div class="form-group">
                <label for="stats">Statistique</label>
                <input type="text" class="form-control" id="stats" name="stats" placeholder="Statistique de l'item">
            </div>
            <!-- On ajoute l'image avec un input pour l'importer -->
            <div class="form-group">
                <label for="image">Image de l'item</label>
                <input type="file" class="form-control" id="image" name="image" placeholder="Image de l'item">
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>

</div>
{% endblock %}
