{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class = "container mt-4">
        <h1 class = "text-center">Inscription</h1>
        <div>
            <form action="{{path('app_register')}}" method="POST">    
                <div class="form-group">
                    <label for="exampleInputName" class="form-label mt-4">Prénom</label>
                    <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Prénom" name="surname">
                </div>
                
                <div class="form-group">
                    <label for="exampleInputName" class="form-label mt-4">Nom</label>
                    <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Nom" name="name">
                </div>
                
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label mt-4">Adresse email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresse email" name="email">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label mt-4">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" name="password">
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Inscription</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}